<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Use this properties to load the jdbc info. -->
	<properties resource="jdbc.properties"/>

<!-- 	<typeAliases> -->
<!--     	<typeAlias alias="Emp" type="mybatis.bean.Emp"/> -->
<!--     	<typeAlias alias="EmpObject" type="mybatis.bean.EmpObject"/> -->
<!--     </typeAliases> -->

	<!-- JDBC DataSource Properties -->
<!-- 	<properties resource=""/> -->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            
            <!-- JDBC -->
            <dataSource type="POOLED">
<!--                 <property name="driver" value="com.mysql.cj.jdbc.MysqlConnectionPoolDataSource"/> -->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
            
            <!-- JNDI and DataSource -->
<!--             <dataSource type="JNDI"> -->
<!--                 <property name="driver" value="com.mysql.cj.jdbc.MysqlConnectionPoolDataSource"/> -->
<!--                 <property name="data_source" value="jdbc/mysql"/> -->
<!--                 <property name="initial_context" value="java:/comp/env"/> -->
<!--             </dataSource> -->
            
        </environment>
    </environments>
    
<!--     <mappers> -->
<!--     	<mapper resource="mybatis/hello-map.xml"/> -->
<!--     </mappers> -->
    
</configuration>